.aqiCategory1 {
    color: #009966 !important
}

.aqiCategory2 {
    color: #ffc000 !important
}

.aqiCategory3 {
    color: #ff9933 !important
}

.aqiCategory4 {
    color: #cc0033 !important
}

.aqiCategory5 {
    color: #660099 !important
}

.aqiCategory6 {
    color: #7e0023 !important
}

.aqiCategoryX {
    color: #000000 !important
}